@import "const";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
* {
  @extend %null_style;
}

body, html, #root {
  width: 100%;
  min-width: 280px;
height: 100%;
}

@media screen and (max-width: 992px) {

  #root {
    display: flex;
    justify-content: center;
  }
  .burger {
    display: flex !important;
  }
  .sidebar-wrap {
    width: 100%;
    background: #F9F9FA;
  }
  .main_text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
  }
  .btn_card_trip-wrap {
    padding-bottom: 20px;
  }
  .header-main {
    padding: 20px;
  }
  .input-collum-wrap{
    display: flex;
    justify-content: center;
  }
  .input-collum{
    width: 450px;
  }
}
@media screen and (min-width: 993px) {

  .btn_new_trip {
    max-width: 160px !important;
  }
  .navbar {
    padding-left: 40px !important;
  }
  .btn_card_trip-wrap {
    display: flex;
    justify-content: center;
  }
  .btn_card_trip {
    min-width: 200px;
  }
  .header-main {
    margin: 0 40px;
    padding: 43px 0 24px 0;
  }
  .trip-list-main-desct {
    margin: 0 20px;
    padding-top: 12px;
  }
  .main_text {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 24px ;
    line-height: 33px;
  }
  .input-collum-wrap{
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .input-collum{
    min-width: 450px;
  }
}
.header {
  display: flex;
  padding: 20px;
}

.main {
  display: flex;
  justify-content: space-between;
  width: 100%;
  min-height: 100%;
}

#root {
  width: 100%;
}

.sidebar-wrap {
  min-width: 240px;
  background: #F9F9FA;
}

.title-sidebar-trips {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  padding: 43px 0 0 20px;
}

.main-wrap {
  width: 100%;
  display: table;
  height: 100%;
}
.loader{
  position: absolute;
  top: 150px;
  left: 50%;
  margin-left: -160px;
}



