@import "const";

.wrapper {
  @extend %wrap_mob;
}

.country {
  display: flex;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  padding-left: 2px;
  margin-bottom: 24px;
}

.country img {
  height: 20px;
  width: 20px;
}

.country p {
  margin-left: 10px;
}

.date p {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #63666A;
  margin-bottom: 4px;
}

.date div {
  @extend %OS_nn_14_19;
  color: #000000;
  margin-bottom: 22px;
}

.company p {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #63666A;
  margin-bottom: 4px;
}

.company div {
  @extend %OS_n600_14_19;
  color: #0A1E40;
  overflow: hidden;
  text-overflow: ellipsis;
}

.company div:last-child {
  font-weight: 400;
  margin-bottom: 22px;
}

.btn_view {
  @extend %OS_n600_14_19;
  background: #F1F1F2;
  border-radius: 10px;
  height: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  color: #76787B;
  cursor: pointer;
}

.wrapper-desktop {
  background: #F9F9FA;
  border-radius: 10px;
  margin: 20px 40px;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.desktop-container {
  width: 100%;
  display: block;

  &:first-child {
    padding-top: 12px;
  }
}
.country-desktop{
  display: flex;
  align-items: center;
}
.country-desktop img {
  width: 40px;
  height: 40px;
}

.desktop-info {
  flex-direction: column;
  flex: auto;
  div:first-child{
   margin-bottom: 7px;
  }

  & div {
    display: flex;

    & p {
      font-family: Open Sans;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 22px;
      padding: 0 20px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    & div {
      @extend %OS_nn_14_19;
      color: #97999B;
      padding-left: 10px;
      white-space: nowrap;
      max-width: 350px;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    & span {
      @extend %OS_nn_14_19;
      color: #000000;
      padding: 0 20px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.btn-remove {
  background: #FBEBE9 !important;
}

.btn-desktop-row {
  display: flex;

  & div {
    margin-left: 10px;
  }
}

.border-desktop-info {
  margin-top: 5px;
  height: 10px;
  border-left: 1px solid #E4E4E5;
}


