@import "const";

.navbar{
  padding: 0 20px;
}
.main_logo{
  display: flex;
  justify-content: center;
  width: 100%;
}
.main_logo img{
  padding-top: 2px;
}
.btn_new_trip{
  @extend %btn_new_trip;
}
.btn_new_trip span{
  @extend %btn_trip_span;
}
.link_new_trip{
  margin-top: 27px;
}
.link_new_trip span{
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #1C252B;
  cursor: pointer;
}
.link_future{
  margin-top: 27px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: #97999B;
}
.link_list img{
  margin-right: 10px;
  width: 16px;
  height: 16px;
}

