@import "const";

* {
  @extend %null_style;
}

body, html, #root {
  height: 100%;
  width: 100%;
  min-width: 320px;
}
@media screen and (max-width: 998px){
  .main{
    max-width: 500px;
  }
  #root{
    display: flex;
    justify-content: center;
  }
}



